@model DataSeek.Web.Models.Settings.SettingsViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Settings</title>
</head>
<body>
<div>
    <h1>Settings</h1>
</div>
</body>
</html>